body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.runePage{
 position:relative;
 width:656px;
 height:436px;
 background: url("https://s3-us-west-1.amazonaws.com/riot-api/img/rune-slot-ids.png");
}

.rune1{
  position:absolute;
  top:439px;
  left:26px;
  transform-origin:-26px -439px;
  transform:scale(.85);
}
.rune2{
  position:absolute;
  top:439px;
  left:98px;
  transform-origin:-98px -439px;
  transform:scale(.85);
}
.rune3{
  position:absolute;
  top:442px;
  left:184px;
  transform-origin:-184px -442px;
  transform:scale(.85);
}

.rune4{
  position:absolute;
  top:373px;
  left:9px;
  transform-origin:-9px -373px;
  transform:scale(.85);
}

.rune5{
  position:absolute;
  top:367.5px;
  left:83px;
  transform-origin:-83px -367.5px;
  transform:scale(.85);
}
.rune6{
  position:absolute;
  top:385px;
  left:148px;
  transform-origin:-148px -385px;
  transform:scale(.85);
}
.rune7{
  position:absolute;
  top:313px;
  left:36px;
  transform-origin:-36px -313px;
  transform:scale(.85);
}
.rune8{
  position:absolute;
  top:317px;
  left:131px;
  transform-origin:-131px -317px;
  transform:scale(.85);
}
.rune9{
  position:absolute;
  top:267px;
  left:84px;
  transform-origin:-84px -267px;
  transform:scale(.85);
}
.rune10{
  position:absolute;
  top:215px;
  left:41px;
  transform-origin:-41px -215px;
  transform:scale(.85);
}
.rune11{
  position:absolute;
  top:211px;
  left:124px;
  transform-origin:-124px -211px;
  transform:scale(.85);
}
.rune12{
  position:absolute;
  top:157px;
  left:77px;
  transform-origin:-77px -157px;
  transform:scale(.85);
}
.rune13{
  position:absolute;
  top:129.5px;
  left:141px;
  transform-origin:-141px -129.5px;
  transform:scale(.85);
}
.rune14{
  position:absolute;
  top:77px;
  left:178px;
  transform-origin:-178px -77px;
  transform:scale(.85);
}
.rune15{
  position:absolute;
  top:45px;
  left:247px;
  transform-origin:-247px -45px;
  transform:scale(.85);
}

.rune16{
  position:absolute;
  top:24px;
  left:313px;
  transform-origin:-313px -24px;
  transform:scale(.85);
}

.rune17{
  position:absolute;
  top:2px;
  left:388px;
  transform-origin:-388px -2px;
  transform:scale(.85);
}
.rune18{
  position:absolute;
  top:61px;
  left:420px;
  transform-origin:-420px -61px;
  transform:scale(.85);
}

.rune19{
  position:absolute;
  top:4px;
  left:467px;
  transform-origin:-467px -4px;
  transform:scale(.85);
}

.rune20{
  position:absolute;
  top:61.5px;
  left:507px;
  transform-origin:-507px -61.5px;
  transform:scale(.85);
}
.rune21{
  position:absolute;
  top:4px;
  left:545px;
  transform-origin:-545px -4px;
  transform:scale(.85);
}

.rune22{
  position:absolute;
  top:106.4px;
  left:562.5px;
  transform-origin:-562.5px -106.4px;
  transform:scale(.85);
}

.rune23{
  position:absolute;
  top:51px;
  left:598px;
  transform-origin:-598px -51px;
  transform:scale(.85);
}
.rune24{
  position:absolute;
  top:4px;
  left:642px;
  transform-origin:-642px -4px;
  transform:scale(.85);
}

.rune25{
  position:absolute;
  top:44.3px;
  left:700px;
  transform-origin:-700px -44.3px;
  transform:scale(.85);
}

.rune26{
  position:absolute;
  top:92px;
  left:652px;
  transform-origin:-652px -92px;
  transform:scale(.85);
}
.rune27{
  position:absolute;
  top:153.5px;
  left:677px;
  transform-origin:-677px -153.5px;
  transform:scale(.85);
}

.rune28{
  position:absolute;
  top:13px;
  left:24px;
  transform-origin:-24px -13px;
  transform:scale(1.5);
}

.rune29{
  position:absolute;
  top:137px;
  left:126px;
  transform-origin:-126px -137px;
  transform:scale(1.5);
}
.rune30{
  position:absolute;
  top:109px;
  left:281px;
  transform-origin:-281px -109px;
  transform:scale(1.5);

}
